{% extends 'base_index.html' %}

{% load wall_filter %}

{% block title %}
{{ status.user.first_name }}  {{ status.user.last_name }}
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ static }}/static/wall/detail.css" />
{% endblock %}

{% block content %}
<div class="container wall-content">
<div id="{{ status.id }}" class="panel panel-default">
    <div class="panel-body">
        <div class="clearfix post-info">
            <img class="pull-left" src="{{ static }}/static/img/default.jpg" alt="Smiley face" height="42" width="42">
            <a href="{% url 'wall:profile' status.user.username %}"><div><b>{{ status.user.first_name }}  {{ status.user.last_name }}</b></div></a>
            <a id="pub-date" href="{% url 'wall:detail' status.id %}">{{ status.pub_date }}</a>
        </div>
        <div id="edit-container-{{ status.id }}">
            <p id="{{ status.id }}">{{ status.message }}</p>
        </div>
        {% if status.likes|is_liked:user.id %}
            <button type="submit" id="{{ status.id }}" class="btn btn-default like pull-left" value="{{ status.id }}"><span>Unlike</span></button>
        {% else %}
            <button type="submit" id="{{ status.id }}" class="btn btn-default like pull-left" value="{{ status.id }}"><span>Like</span></button>
        {% endif %}
        {% if user == status.user %}
            <button type="submit" class="btn btn-default edit pull-left" value="{{ status.id }}">Edit</button>
            <button type="submit" class="btn btn-default delete" value="{{ status.id }}">Delete</button>
        {% endif %}
        <a id="{{ status.id }}" tabindex="0" role="button" data-toggle="popover" data-trigger="click" data-placement="bottom"><div id="{{ status.id }}" class="like-info"></div></a>
    </div>
</div>

<h4>Comments</h4>

<div class="well">
    <div id="reply-container">
    {% for reply in status.replies.all %}
        <div id="{{ reply.id }}" class="panel panel-default">
            <div class="panel-body">
                <div class="clearfix post-info">
                <img class="pull-left" src="{{ static }}/static/img/default.jpg" alt="Smiley face" height="42" width="42">
                <div>{{ reply.user.first_name }}  {{ reply.user.last_name }}</div>
                    <a id="pub-date" href="{% url 'wall:detail' reply.id %}">{{ reply.pub_date }}</a>
                </div>
                <div id="edit-container-{{ reply.id }}">
                    <p id="{{ reply.id }}">{{ reply.message }}</p>
                </div>
                {% if reply.likes|is_liked:user.id %}
                    <button type="submit" id="{{ reply.id }}" class="btn btn-default like pull-left" value="{{ reply.id }}"><span>Unlike</span></button>
                {% else %}
                    <button type="submit" id="{{ reply.id }}" class="btn btn-default like pull-left" value="{{ reply.id }}"><span>Like</span></button>
                {% endif %}
                {% if user == reply.user %}
                    <button type="submit" class="btn btn-default edit pull-left" value="{{ reply.id }}">Edit</button>
                    <button type="submit" class="btn btn-default delete" value="{{ reply.id }}">Delete</button>
                {% endif %}
                <a id="{{ reply.id }}" tabindex="0" role="button" data-toggle="popover" data-trigger="click" data-placement="bottom"><div id="{{ reply.id }}" class="like-info"></div></a>
            </div>
        </div>
    {% endfor %}
    </div>

    <form action="" class="reply-form" method="post">{% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">Reply</button>
    </form>
</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ static }}/static/wall/application.js"></script>
{% endblock %}