{% extends 'base_index.html' %}

{% load wall_filter %}

{% block title %}
The Facebook
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ static }}/static/wall/index.css" />
{% endblock %}

{% block content %}
<div id="message-box" class="container-fluid">
    <form action="" class="" method="post">{% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>

{% if latest_wall_updates %}
    {% for update in latest_wall_updates %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>{{ update.author.first_name }}  {{ update.author.last_name }}</h4>
                <div id="edit-container-{{ update.id }}">
                    <p id="{{ update.id }}">{{ update.message }}</p>
                </div>
                <div class="container-fluid"><a id="pub-date" href="{% url 'wall:detail' update.id %}">{{ update.pub_date }}</a></div>
                {% if update.liked.count %}
                    <div class="container-fluid">{{ update.liked.count }} liked this.</div>
                {% endif %}
                {% if update.liked|is_liked:user.id %}
                    <div class="container-fluid">You liked this</div>
                {% else %}
                    <form action="/wall/like_status/" class="" method="post">{% csrf_token %}
                        <input id="like_status_id" name="status_id" type="hidden" value="{{ update.id }}"/>
                        <button type="submit" class="btn btn-default">Like</button>
                    </form>
                {% endif %}
                {% if user == update.author %}
                    <button type="submit" class="btn btn-default edit" value="{{ update.id }}">Edit</button>
                    <form action="/wall/delete_status/" class="" method="post">{% csrf_token %}
                        <input id="delete_status_id" name="status_id" type="hidden" value="{{ update.id }}"/>
                        <button type="submit" class="btn btn-default">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>No status are available.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ static }}/static/wall/application.js"></script>
{% endblock %}