{% extends 'base_index.html' %}

{% load wall_filter %}

{% block title %}
The Facebook
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ static }}/static/wall/index.css" />
{% endblock %}

{% block content %}
<div class="container wall-content">
<div id="message-box" class="container-fluid">
    <form action="" class="message-form" method="post">{% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>

<div class="status-container">
{% if latest_wall_updates %}
    {% for update in latest_wall_updates %}
        <div id="{{ update.id }}" class="panel panel-default">
            <div class="panel-body">
                <div class="clearfix post-info">
                    <img class="pull-left" src="{{ static }}/static/img/default.jpg" alt="Smiley face" height="42" width="42">
                    <div><b>{{ update.user.first_name }}  {{ update.user.last_name }}</b></div>
                    <a id="pub-date" href="{% url 'wall:detail' update.id %}">{{ update.pub_date }}</a>
                </div>
                <div id="edit-container-{{ update.id }}">
                    <p id="{{ update.id }}">{{ update.message }}</p>
                </div>
                {% if update.likes|is_liked:user.id %}
                    <button type="submit" id="{{ update.id }}" class="btn btn-default like pull-left" value="{{ update.id }}"><span>Unlike</span></button>
                {% else %}
                    <button type="submit" id="{{ update.id }}" class="btn btn-default like pull-left" value="{{ update.id }}"><span>Like</span></button>
                {% endif %}
                {% if user == update.user %}
                    <button type="submit" class="btn btn-default edit pull-left" value="{{ update.id }}">Edit</button>
                    <button type="submit" class="btn btn-default delete" value="{{ update.id }}">Delete</button>
                {% endif %}
            </div>
            <div id="replies" class="well">
            <a id="{{ update.id }}" tabindex="0" role="button" data-toggle="popover" data-trigger="click" data-placement="bottom"><div id="{{ update.id }}" class="like-info"></div></a>
            {% if update.replies.all %}
                <button type="submit" class="btn btn-default loadreply" value="{{ update.id }}">Load replies</button>
            {% endif %}
                <div id="reply-container-{{ update.id }}"></div>
            <div id="{{ update.id }}" class="comment-container"></div>
            </div>
        </div>
    {% endfor %}
</div>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p id="no-status">No status are available.</p>
{% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ static }}/static/wall/application.js"></script>
{% endblock %}