{% load wall_filter %}
<div id="{{ status.id }}" class="panel panel-default">
        <div class="panel-body">
            <div class="clearfix post-info">
            <img class="pull-left" src="{{ static }}/static/img/default.jpg" alt="Smiley face" height="42" width="42">
            <div><b>{{ status.author.first_name }}  {{ status.author.last_name }}</b></div>
                <a id="pub-date" href="{% url 'wall:detail' status.id %}">{{ status.pub_date }}</a>
            </div>
            <div id="edit-container-{{ status.id }}">
                <p id="{{ status.id }}">{{ status.message }}</p>
            </div>
            {% if status.liked.count %}
                <div>{{ status.liked.count }} liked this.</div>
            {% endif %}
            {% if update.liked|is_liked:user.id %}
                <div>You liked this</div>
                <button type="submit" id="{{ update.id }}" class="btn btn-default like pull-left" value="{{ update.id }}"><span>Unlike</span></button>
            {% else %}
                <button type="submit" id="{{ update.id }}" class="btn btn-default like pull-left" value="{{ update.id }}"><span>Like</span></button>
            {% endif %}
            {% if user == status.author %}
                <button type="submit" class="btn btn-default edit pull-left" value="{{ status.id }}">Edit</button>
                <button type="submit" class="btn btn-default delete" value="{{ status.id }}">Delete</button>
            {% endif %}
        </div>
        <div id="replies" class="well">
            {% if update.replies.all %}
                <button type="submit" class="btn btn-default loadreply" value="{{ status.id }}">Load replies</button>
            {% endif %}
                <div id="reply-container-{{ status.id }}"></div>
            <div id="{{ status.id }}" class="comment-container"></div>
        </div>
    </div>